/*body {
	background-repeat: no-repeat;
	background-position: center;
	width: 120%;
}*/

.box {
	border: 2px black solid;
}
h1 {
	text-align: center;
}

#questions, #time-remaining p {
	text-align: center;
}
